@{
    ViewData["Title"] = "Shoe Collection";
}
    <link rel="stylesheet" href="~/css/site.css" />
<h1>@ViewData["Title"]</h1>
<p>Below is what we have available</p>
<body>

    <div class="slideshow-container">
        <div class="mySlides fade">
            <div class="numbertext">1 /10</div>
            <img src="~/images/jordanOneBred(1).jpg" style="width:100%">
            <div class="text">Jordan 1 Bred - £130.00</div>
        </div>
        <div class="mySlides fade">
            <div class="numbertext">2 / 10 </div>
            <img src="~/images/jordanSevenHare.jpg" style="width:100%">
            <div class="text">Jordan 7 Hare - £170.00</div>
        </div>
        <div class="mySlides fade">
            <div class="numbertext">3 / 10 </div>
            <img src="~/images/jordanEightOvo.jpg" style="width:100%">
            <div class="text">Jordan 8 OVO - £240.00</div>
        </div>
        <div class="mySlides fade">
            <div class="numbertext">4 / 10</div>
            <img src="~/images/jordanElevenBred.jpg" style="width:100%">
            <div class="text">Jordan 11 Bred - £165.99</div>
        </div>
        <div class="mySlides fade">
            <div class="numbertext">5 / 10</div>
            <img src="~/images/jordanFourBred.jpg" style="width:100%">
            <div class="text">Jordan 4 Bred - £169.99</div>
        </div>
        <div class="mySlides fade">
            <div class="numbertext">6 / 10</div>
            <img src="~/images/jordanElevenConcord.jpg" style="width:100%">
            <div class="text">Jordan 11 Concord - £165.99</div>
        </div>
        <div class="mySlides fade">
            <div class="numbertext">7 / 10</div>
            <img src="~/images/jordanThirteenBred.jpg" style="width:100%">
            <div class="text">Jordan 13 Bred - £169.99</div>
        </div>
        <div class="mySlides fade">
            <div class="numbertext">8 / 10</div>
            <img src="~/images/jordanSix.jpg" style="width:100%">
            <div class="text">Jordan 6 - £170.00</div>
        </div>
        <div class="mySlides fade">
            <div class="numbertext">9 / 10</div>
            <img src="~/images/jordanThreeDenim.jpg" style="width:100%">
            <div class="text">Jordan 3 Denim - £169.99</div>
        </div>
        <div class="mySlides fade">
            <div class="numbertext">10 / 10</div>
            <img src="~/images/jordanTwelveTaxi.jpg" style="width:100%">
            <div class="text">Jordan 12 Taxi - £150.00</div>
        </div>
    </div>
    <br>
    <div style="text-align:center">
        <span class="dot"></span>
        <span class="dot"></span>
        <span class="dot"></span>
        <span class="dot"></span>
        <span class="dot"></span>
        <span class="dot"></span>
        <span class="dot"></span>
        <span class="dot"></span>
        <span class="dot"></span>
        <span class="dot"></span>
    </div>
    <script src="~/js/main.js"></script>
</body>



